*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #3c8c9a;
    color: #ffffff;
    text-align:center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    & p{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:20px;
        
    }
}





